
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Teste</title>
</head>
<style>
    *{
        box-sizing: border-box;
        margin: 0%;
        padding: 0%;
    }

    #cabecalho{
        position: absolute;
        width: 100%;
        height: 10%;
        background-color: purple;
    }
    #menu{
        position: absolute;
        top: 10%;
        left: 0%;
        width: 10%;
        height: 80%;
        background-color: red;
    }
</style>

<body>
    <div id="cabecalho">
        Cabeçalho
    </div>

    <div id="menu">
        Menu
    </div>
</body>
</html>