<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Calculadorazinha</title>
    <link rel="stylesheet" type="text/css" href="style.css" />
  </head>

  <body>
    <main id="calculadora">
      <%-include("cabecalho")%> 
      <%-include("menu")%>
     <h1 id="error">erro!</h1>
      <%-include("rodape")%>
    </main>

    <script>
      function mudarrota(rota) {
        formzin.action = rota;
      if (num1.value == "" || num2.value == "") {
        document.getElementById("resultado").innerHTML = "";
        alert("Algum valor está vazio");
      } else {
          formzin.submit();
      }
    }
      
    </script>
  </body>
</html>
