<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calculadorazinha</title>
    <script>
        function mudarrota(rota) {
            formzin.action = rota
            if (num1.value == '' || num2.value == '') {
                document.getElementById('resultado').innerHTML = ''
                alert('Algum valor está vazio')
            } else {
                if (rota == "/div" && num2.value == 0) {
                    document.getElementById('resultado').innerHTML = ''
                    alert('Não se pode dividir com 0')
                } else {
                    formzin.submit()
                }
            }


        }



    </script>
</head>

<body>
    <form action="/" method="post" id="formzin">
        <label for="">Digite um número</label>
        <input type="text" name="num1" id="num1">
        <label for="">Digite outro número</label>
        <input type="text" name="num2" id="num2">

        <input type="button" class="operadores" value="+" onclick="mudarrota('/soma')">
        <input type="button" class="operadores" value="-" onclick="mudarrota('/sub')">
        <input type="button" class="operadores" value="/" onclick="mudarrota('/div')">
        <input type="button" class="operadores" value="*" onclick="mudarrota('/multi')">

    </form>
    <label for="">Resultado:</label>
    <p id="resultado">
        <%=result%>
    </p>


</body>

</html>