<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calculadorazinha</title>
    <script>
       function mudarrota(rota) {
        formzin.action = rota
       }
    </script>
</head>
<body>
    <form action="/" method="post" id="formzin">
        <label for="">Digite um número</label>
        <input type="text" name="num1" id="num1">
        <label for="">Digite outro número</label>
        <input type="text" name="num2" id="num2">
       
        <input type="submit" id ="+" value="+" onclick="mudarrota('/soma')">
        <input type="submit" id="-" value="-" onclick="mudarrota('/sub')">
        <input type="submit" id="/" value="/" onclick="mudarrota('/div')">
        <input type="submit" id="*" value="*" onclick="mudarrota('/multi')">
       
    </form>
    <label for="">Resultado:</label>
        <%=result%>
    
</body>
</html>