<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Posição no MRU</title>
</head>
<body>
    <form action="/resultado" method="post">
    Digite S0:
    <input type="text" name="s0">
    <br>
    Digite Velocidade:
    <input type="text" name="Velocidade">
    <br>
    Digite tempo:
    <input type="text" name="tempo">
    <br>
    Digite aceleração:
    <input type="text" name="aceleração">
    <br>
    <input type="submit"  value="Calcular">
    <br>
</form>
    <%=Valor%>
</body>
</html>